<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Live Blog - Powered by Simperium and Backbone.js</title>
	<link rel="stylesheet" href="listener.css"/>
</head>
<body>
	<div id="todoapp">
		<header>
			<h1>Live Stream</h1>
		</header>
		<section id="main">
			<ul id="todo-list"></ul>
		</section>
		<footer>
			<div id="todo-count"></div>
		</footer>
	</div>
	<div id="instructions">
		This page will automatically refresh as new entries are added of our live blog of XYZCon
	</div>
	<div id="credits">
	</div>
	
	<script src="./test/vendor/json2.js"></script>
	<script src="./test/vendor/jquery.js"></script>
	<script src="./test/vendor/underscore.js"></script>
	<script src="./backbone.js"></script>
	<script src="./backbone.localStorage.js"></script>
	<script src="//js.simperium.com/v0.1/"></script>
	<script src="//simperium.com/js/backbone-simperium.js"></script>
	<script src="listener.js"></script>
	
	<!-- Templates -->	
	<script type="text/template" id="item-template">
		<div class="view">
			<%= text %>
		</div>
	</script>
	<script type="text/template" id="stats-template">
		<div style="display:none;">
		<% if (done) { %>
		<a id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a>
		<% } %>
		<div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div>
		</div>
	</script>
	
</body>
</html>
